* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #098b94; 
  }
  
  header {
    background-color: #c8ab9e;
    border: 4px solid #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  header nav ul li a:hover {
    color: #098b94;
  }
  
  main {
    margin-top: 80px; 
    padding: 20px;
  }
  
  #project-detail {
    background-color: #c8ab9e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid #333;
    margin-bottom: 40px;
  }
  
  #project-detail h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #project-detail p {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #project-detail img {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
    border-radius: 8px;
    border: 4px solid #333;
  }
  
  #contact-form {
    background-color: #c8ab9e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid #333;
  }
  
  #contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contact-form form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  #contact-form form label {
    margin-bottom: 10px;
  }
  
  #contact-form form input,
  #contact-form form textarea,
  #contact-form form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c8ab9e;
    border-radius: 4px;
  }
  
  #contact-form form button {
    background-color: #333;
    color: #c8ab9e;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  #contact-form form button:hover {
    background-color: #098b94;
  }
  
  footer {
    background-color: #c8ab9e;
    color: black;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 40px;
  }
  
  footer p {
    margin: 0;
  }
  